.skills_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem;
    font-size: 1.2rem;

    .skill_box{
        padding: 1rem;
        // background-color: aquamarine;

        .skill_title{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            margin-bottom: 0.5rem;

            // &::after{
            //     content: "";
            //     position: absolute;
            //     bottom: 0;
            //     right: 50%;
            //     width: 35px;
            //     height: 4px;
            //     border-radius: 2px 0 0 2px;
            //     background-color: black;
            // }

            // &::before{
            //     content: "";
            //     position: absolute;
            //     bottom: 0;
            //     left: 50%;
            //     width: 35px;
            //     height: 4px;
            //     border-radius: 0 2px 2px 0;
            //     background-color: black;
            // }

            .img{
                // background-color: green;
                flex: 0 0 100px;
                height: 100px;
                position: relative;

                .skill_icon{
                    width: 80px;
                }

                .skill_icon2{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    // border: 2px solid black;
                    // z-index: 2;
                }

                .git{
                    animation-name: two_items_a;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                }
                
                .github{
                    width: 150px;
                    animation-name: two_items_a;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                    // animation-timing-function: ease-in-out;
                    // left: 50%;
                    // transform: translate(-50%);
                }
                .drf{
                    top: 22%;
                    width: 80%;
                    animation-name: two_items_a;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-direction: reverse;
                }

                .bootstrap, .sass{
                    top: 5%;
                }

                .django{
                    width: 140px;
                    animation-name: two_items_a;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                }
            }

            // for shaded left
            // .img::after{
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 50%;
            //     height: 100px;
            //     background: rgba(100, 100, 100, 0.5);
            //     border-radius: 45px 0 0 45px;
            // }

            h3{
                color: green;
            }
        }
    }
}

@keyframes two_items_a {
    0% {
        // z-index: 2;
        opacity: 1;
    }
    50%{
        // z-index: 0;
        opacity: 0;
    }
}
@keyframes two_items_b {
    0%{
        // z-index: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
        z-index: 0;
    }
}

.soft_skills{
    margin-top: 3rem;
    text-align: center;

    .soft_skill{
        &:nth-child(even){
            color: green;
        }
    
        &:nth-child(odd){
            color: red;
        }
    }
}

@media screen and (max-width: 767px){
    .skills_container{
        padding: 0.5rem;
        .skill_box{
            padding: 0.5rem;
        }
    }
}

// @media screen and (max-width: 500px){
//     .container{
//         grid-template-columns: repeat(2, 1fr);
//         padding: 0.5rem;
//         .skill_box{
//             padding: 0.5rem;
//         }
//     }
// }

@media screen and (max-width:500px){
    .skills_container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0.4rem;
        .skill_box{
            padding: 0.2rem;
            // .skill_title{
            //     h3{
            //         font-size: 13px;
            //     }
            // }
        }
    }
}

@media screen and (max-width:280px){
    .skills_container{
        grid-template-columns: 1fr;
    }
}
