p{
    font-size: 24px;
}

.skills_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}