.about_container{
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;

    .about_content{
        p{
            span{
                color: #bc142e;
                font-weight: bold;
            }
        }

        .about_cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            .about_card{
                background: var(--color-bg-variant);
                border: 1px solid transparent;
                border-radius: 0.5rem;
                padding: 2rem;
                text-align: center;
                transition: var(--transition);
                
                &:hover{
                    background: transparent;
                    box-shadow: 0 0 7px var(--color-primary-variant) ;
                    cursor: default;
                    
                    small{
                        transition: var(--transition);
                        color: #bc142e;
                    }
                }

                .about_icon{
                    color: var(--color-primary);
                    font-size: 1.4rem;
                    // margin-bottom: 1rem;
                }

                h5{
                    font-size: 0.95rem;
                }

                small{
                    font-size: 0.7rem;
                    color: var(--color-light);
                    text-shadow: 0 0 0.2px var(--color-primary);
                }
            }
        }
    }

    // .about_me{
    //     width: 100%;
    //     aspect-ratio: 1/1;
    //     border-radius: 1.2rem;
    //     background: linear-gradient(-45deg, transparent, var(--color-font), transparent);
    //     display: grid;
    //     place-items: center;
        
    //     .about_me_image{
    //         border-radius: 1.2rem;
    //         overflow: hidden;
    //         transform: rotate(350deg);
    //         transition: 1.2s;
            
    //         img{
    //             transform: scaleX(-1);
    //         }
            
    //     }
    //     &:hover {

    //         .about_me_image{
    //             height: 100%;
    //             transform: rotate(0deg);
    //             box-shadow: 0 0 10px var(--color-font);
                
    //             img{
    //                 height: 100%;
    //             }
    //         }
    //     }

    // }
    .image-collage {
        width: 100%;
        height: 100%;
        // background: #bc142e;
        background-size: cover;
        // border-left: 10px solid red;
    
        .image-collection {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
        //   background: #fff;
          margin: auto;
    
          .collage-img {
            position: absolute;
            object-fit: cover;
            transition: 0.5s;
    
            &:nth-child(1) {
              width: 300px;
              height: 300px;
              top: 20px;
              left: 5px;
            }
    
            &:nth-child(2) {
              width: 250px;
              height: 230px;
              top: 130px;
              left: 130px;
            }
    
            &:nth-child(3) {
              width: 230px;
              height: 250px;
              top: 50px;
              left: 200px;
            }
    
            &:hover {
              transform: translateY(-10px);
            }
          }
        }
      }
    


}