.footer-area {
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    bottom: 10px;
    padding: 3rem 0;
    // margin-bottom: 0;
    // text-shadow: 0 0 10px black;
    
    .footer_copyright{
        padding: 25px 0;
        small{
            padding: 0;
            margin: 0;
            color: crimson;
        }
    }

    .section_links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 4rem;
    }
  }
  