#experience{
    background-color: aqua;
    .experience_container{
        display: flex;
        justify-content: space-evenly;
    
        .card_one, .card_two{
            width: 48%;
            height: fit-content;
            border: 5px solid green;
            
            .flip-container {
                // margin: 50px;
                perspective: 1000;
                display: inline-block;
                border: 5px solid blue;
                width: 100%;
                height: 400px;
                
                &:hover .card {
                    transform: rotateY(180deg);
                }
            }
        }
    }
    
}

.card, .front, .back {
    width: 100%;
    height: 100%;
}
.card {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border: 2px solid white;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    background: no-repeat;
}
.back {
    z-index: 1; /* back side, placed above front */
    transform: rotateY(180deg);
    background:  no-repeat;
}